.add-place-modal {
  height: fit-content;
  width: 600px;

  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.amenities-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 8px;
}
.amenity,
.clear-selections {
  width: 120px;
  background-color: #c55fe1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px;
  margin: 5px;
  border-radius: 8px;
}
.amenities {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
    "c d e"
    "c d e";
  gap: 5px;
}
.clear-selections {
  width: 100%;
  background-color: #ed5893;
}

textarea {
  width: 520px;
  height: 100px;
  overflow-y: scroll;
  border-radius: 8px;
  padding: 5px;
  margin-top: -20px;
  font-size: 16px;
  resize: none;
}
.add-place-inputs {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.add-place-inputs input {
  width: 520px;
  height: 50px;
  border-width: 0;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px;
  font-size: 15px;
}
.add-place-inputs input:focus {
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
}
.add-place-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected {
  background-color: #8814a8;
  color: white;
}
