.spot-image-container {
  width: 300px;
  height: 300px;
  margin: 20px 20px;
}
.all-spot-images {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  justify-content: center;
}
.spot-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px 20px;
  border-radius: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  margin-top: 30px;
}

.description {
  max-width: 400px;
  justify-self: start;
}
