.footer {
	position: absolute;
	bottom: 0px;
	height: 160px;
	width: 100%;
	padding: 30px 30px;
	border-top: 1px solid rgb(190, 190, 190);
	/* background-color: #453f78; */
	background-color: #161712;
	color: #e5e7e6;
	font-weight: 300;
	margin-top: 40px;
}
.techs {
	display: flex;
	justify-content: space-around;
	margin: 10px 100px;
	padding: 10px;
	border-bottom: 1px solid rgb(190, 190, 190);
}
.my-details {
	margin: 10px auto;
	text-align: center;
}

.my-details > a {
	color: #e5e7e6;
	text-decoration: none;
	margin: 10px;
	/* padding: 10px; */
}
.my-details > a:hover {
	color: white;
	border-bottom: 2px solid white;
	font-weight: bolder;
}
